# allow run xtest as shell
domain_auto_trans(shell, tee_exec, tee);
allow shell tee_exec:file { getattr execute read open execute_no_trans };
allow shell tee_data_file:file { create write open getattr unlink read };
allow shell tee_data_file:dir { read write add_name remove_name rename search open getattr setattr };
allow shell tee_data_file:chr_file { ioctl read write open ioctl };
allow shell persist_data_file:file { create write open getattr unlink read };
allow shell persist_data_file:dir { read write add_name remove_name rename search open getattr setattr };
allow shell persist_data_file:chr_file { ioctl read write open ioctl };
allow shell persist_file:file { create write open getattr unlink read };
allow shell persist_file:dir { read write add_name remove_name rename search open getattr setattr };
allow shell persist_file:chr_file { ioctl read write open ioctl };

# For xtest 1014 tests
allow tee adbd:fd use;
allow tee devpts:chr_file { getattr ioctl read write };
allow tee ion_device:chr_file { read write };

# rpmb operations
allow tee self:capability { setuid setgid sys_rawio };
allow tee block_device:dir { search };
allow tee mmc_block_device:blk_file { open read write ioctl rw_file_perms };
allow tee mmc_rpmb_block_device:blk_file { open read write ioctl rw_file_perms };
allow tee mmc_rpmb_char_device:blk_file { open read write ioctl rw_file_perms };
allow tee mmc_block_device:chr_file { ioctl open read write rw_file_perms };
allow tee mmc_rpmb_block_device:chr_file { ioctl open read write rw_file_perms };
allow tee mmc_rpmb_char_device:chr_file { ioctl open read write rw_file_perms };

allow tee console_device:chr_file {  getattr read write ioctl };
allow tee shell:fd { use };
allow tee system_data_file:dir { getattr };
#allow tee system_data_file:file { read write open };
allow tee tee_data_file:dir { create rmdir rename create_dir_perms };
allow tee persist_data_file:dir { create rmdir rename create_dir_perms };
allow tee persist_file:dir { create rmdir rename create_dir_perms };
allow tee vendor_data_file:dir { getattr open read write add_name create remove_name rmdir search };
allow tee vendor_data_file:file { getattr create read write open append unlink };
allow tee mnt_vendor_file:dir { getattr open read write add_name create remove_name rmdir search };
allow tee mnt_vendor_file:file { getattr create read write open append unlink };
allow tee persist_data_file:dir { ioctl open read create_dir_perms };
allow tee persist_data_file:file { open read create_file_perms };

# For xtest 200x tests
allow tee node:tcp_socket node_bind;
allow tee node:udp_socket node_bind;
allow tee self:tcp_socket { read write create getattr setattr bind connect listen accept getopt setopt recvfrom sendto name_bind };
allow tee self:udp_socket { read write create getattr setattr bind connect listen accept getopt setopt recvfrom sendto name_bind };

allow tee tee:tcp_socket { create connect read write getopt setopt };
allow tee tee:udp_socket { create connect read write getopt getattr };
allow tee tee:capability { setuid setgid sys_rawio net_raw };
allow tee fwmarkd_socket:sock_file { read write };
allow tee port:tcp_socket { name_connect };

# Rules on netd domain for optee xtest 200x tests
allow netd tee:tcp_socket { read write getopt setopt };
allow netd tee:udp_socket { read write getopt setopt };
allow netd tee:fd { use };

allow tee netd:unix_stream_socket { connectto };

net_domain(tee)
#typeattribute tee netdomain; #same as net_domain(tee)
#typeattribute tee socket_between_core_and_vendor_violators;
#typeattribute tee_data_file core_data_file_type;
#typeattribute tee coredomain;
