/dev/ion                  0660   system     system
/dev/vport3p1             0660   system     system
/dev/vport3p2             0660   system     system
/dev/trusty-ipc-dev0      0660   system     drmrpc

/dev/tee0        0660   shell     shell
/dev/teepriv0    0660   shell     shell
/dev/block/mmcblk0rpmb 0660 shell  shell
/dev/block/mmcblk1rpmb 0660 shell  shell
/dev/mmcblk0rpmb 0660 shell  shell
/dev/mmcblk1rpmb 0660 shell  shell
/dev/block/mmcblk0 0660 shell  shell
/dev/block/mmcblk1 0660 shell  shell
